<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mdq.auditinspectionapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_audit_inspection"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_audit_inspection"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuditInspectionApp"
        android:usesCleartextTraffic="true"
      >
        <activity
            android:name=".Activity.selectionForReport"
            android:exported="false" />
        <activity
            android:name=".Activity.ReportScreen"
            android:exported="true" />
        <activity
            android:name=".Activity.NoDataActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.FinalReportScreen"
            android:exported="true" />
        <activity
            android:name=".Activity.FinalInspectionScreen"
            android:exported="true" />
        <activity
            android:name=".Activity.FinalProductionUpdate"
            android:exported="true" />
        <activity
            android:name=".Activity.TransactionProductUpdate"
            android:exported="true" />
        <activity
            android:name=".Activity.welcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.welcomeSaibhavani"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>